{% extends "todolist/html/base.html" %}

{% block title %}
Login
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<form method="post" class="form-group">
    {% csrf_token %}
    {{form|crispy}}
    <p><a href="/register">Create Account</a></p>
    <button type="submit" class="btn btn-success">login</button>
    
</form>
{% endblock %}