{% extends 'todolist/html/base.html' %}
{% block title %}
To Do List Overview
{% endblock %}

{% block content %}
<div class="d-grid gap-3">
    <h2 class="mt-3">All To-Do Lists</h1>
    <div class="p-2 bg-light">
        <div class="card" style="width: 18rem;">
        {% for todolist in list %}
        <a style="color: black;text-decoration: none;" href="{{todolist.id}}/"><li class="list-group-item">{{todolist}}</li></a>
        {% endfor %}
        </div>
    </div>
</div>




<div class="d-grid gap-3">
    <h2 class="mt-3">Add To-Do List</h1>
    <form method="POST">
        <div class="p-2 bg-light">
        {{form.as_p}}
        </div>
        {% csrf_token %}
        <button class="btn btn-primary btn-sm" type="submit" name="addTodoList" value="addTodoList">Add List</button>
    </form>
</div>
{% endblock %}