{% extends 'todolist/html/base.html' %}

{% block title %}
    {{list}}
{% endblock %}

{% block content %}
<div class="d-grid gap-3">
    
    <h2 class="mt-3">{{ list }}</h2>
    <form method="POST">
        {% csrf_token %}
        {% for item in items %}
            {% if item.complete == True %}
        <div class="p-2 bg-light">
            <input type="checkbox" name="c{{item.id}}" value=clicked checked> <input type="text" value="{{item.text}}" name=n{{item.id}}>
            <button class="btn btn-outline-dark btn-sm" name=deletetodo value={{item.id}}>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </div>
        
        {% else %}
        <div class="p-2 bg-light ">
            <input type="checkbox" name="c{{item.id}}" value=clicked> <input type="text" value="{{item.text}}" name=n{{item.id}}>
            <button class="btn btn-outline-dark btn-sm" name=deletetodo value={{item.id}}>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </div>

        {% endif %}
        {% endfor %}
        <div class=" p-2 bg-light">
        <button class="btn btn-primary btn-sm " type="submit" name="save" value="save">Save</button>
        </div>
    </form>
</div>

<div class="d-grid gap-3">
        <h2 class="mt-3">Add To-Do</h2>
        
        <form method="POST">
            <div class="p-2 bg-light">
            {{form.as_p}}
            </div>
            {% csrf_token %}
            <div class=" p-2 bg-light">
            <button class="btn btn-primary btn-sm" type="submit" name="addTodo" value="addTodo"> Add To-Do</button>
        </div>
        </form>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm" type="submit" name="deleteList" value="deleteList"> Delete To-Do List</button>
        </form>
</div>
{% endblock %}